.login-signup-form {
  width: 400px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.login-container {
  font-size: 14px;
  line-height: 60px;
  margin: 12px 0px 12px 12px;
  letter-spacing: 1px;
}

.signup-link {
  text-decoration: none;
  color: rgb(220, 53, 86);
  &:hover {
    color: rgb(114, 118, 250);
  }
}
