// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-stack: Helvetica, sans-serif;
$primary-color: rgb(199, 52, 52);

html,
body {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  overflow-y: scroll;
}

#root,
#App {
  height: 100%;
}

.landing-login-signup {
  width: 40%;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.landing-container {
  width: auto;
  padding: 10px;
  margin: 10px;
  & > button {
    font-size: 21px;
    width: 100%;
    font-style: italic;
    font-weight: 700;
    line-height: 50px;
  }
}
